<div class="header" *ngIf="_uid !== undefined">
  <mat-card class="profile" >
    {{ userName }}
    <button mat-button (click)="openDialog(followers)">
      <strong>{{followerCount}}</strong> followers
    </button>
    <button mat-button (click)="openDialog(following)">
      <strong>{{followingCount}}</strong> following
    </button>
    <button mat-button (click)="toggleFollow()">
      <span *ngIf="isFollowingUser(); then unfollowButton else followButton"></span>
      <ng-template #followButton>
        Follow
      </ng-template>
      <ng-template #unfollowButton>
        Unfollow
      </ng-template>
    </button>
  </mat-card>
</div>
