@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/icon?family=Roboto';

@import '~@angular/material/theming';
@import './theme.scss';

:root {
  --main-color: #607d8b;
  --gray: rgb(194, 194, 194);
  --white: white;
  --font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --header-height: 60px;
}

*{
  margin:0;
  padding:0;
  border:0;
}

body {
  background-color: var(--gray);
  height: 100vh;
  font-family: Roboto;
}

.mat-form-field-empty.mat-form-field-label {
  color: var(--gray);
}

.mat-form-field-underline {
  background-color: var(--gray) !important;
}

.mat-sidenav {
  background-color: var(--white);
  border-top: 1px solid rgb(221, 221, 221);
}

.mat-checkbox-inner-container {
  border: 1px solid;
}
